* {
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
  font-family: "Fredoka", sans-serif;
  letter-spacing: 1px;
}

body {
  background-color: grey;
}

#hero {
  background-image: url(img/lake.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#hero::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 0;
}

.hero-section-container {
  background-color: rgba(255, 255, 255, 0.1);
  height: 85vh;
  width: 85%;
  border-radius: 30px;
  border: 2px solid rgba(211, 211, 211, 0.2);
  backdrop-filter: blur(8px);
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  margin: 10px;
  z-index: 1;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.logo span {
  color: rgb(0, 167, 139);
}

nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

nav a {
  color: white;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  display:flex;
  justify-content: center;
}

nav a::after {
  content: '';
  position: absolute;
  bottom: -10px;
  height: 2px;
  width: 80%;
  box-shadow: 0 0 5px white;
  transform: scaleX(0) translateY(-100%);
  background-color: white;
  transition: 0.3s;
}
nav a:hover::after {
  transform: scaleX(0.5) translateY(0);

}

.active {
  color: rgb(0, 167, 139);
}

.active::after {
  background-color: rgb(0, 167, 139);
}

header button {
  font-size: 18px;
  font-weight: bold;
  padding: 7px 25px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

header button:hover {
  background-color: rgb(0, 167, 139);
  color: rgba(0, 0, 0, 0.6);
  border-color: rgb(0, 167, 139);
}

/* Hero Content */
.hero-content {
  padding: 15px 25px 0 25px;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
}

/* Right Section */
.hero-content img {
  width: 90%;
  filter: drop-shadow(0 0 10px rgb(0, 167, 139))
    drop-shadow(0 0 20px rgb(0, 167, 139))
    drop-shadow(0 0 40px rgb(0, 167, 139))
    drop-shadow(0 0 100px rgb(0, 167, 139));
}
.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Right Section Animation */
@keyframes rotatePlanet {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.image-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* left Section */
.left-section {
  display:flex;
  align-items: center;
  z-index: 1;
}

.left-section h3 {
  font-size: 4rem;
  letter-spacing: 20px;
  color: white;
}

.left-section h1 {
  font-size: 11rem;
  font-weight: 800;
  color: white;
  margin: -20px 0 0 0;
}

h1 .color-change {
  color: rgb(0, 167, 139);
}

.left-section p {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.5;
  color: rgb(230, 230, 230);
  width: 90%;
  margin-bottom: 50px;
}

p span {
  color: white;
  font-weight: 600;
}

.big-cta-btn {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  width: 250px;
  height: 55px;
  border-radius: 50px;
  background-color: rgb(0, 167, 139);
  color: rgba(0, 0, 0, 0.699);
  text-transform: uppercase;
  transition: all 0.3s;
}

.big-cta-btn:hover{
  letter-spacing: 5px;
  background-color: white;
}

.social-icons {
  color: white;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons i {
  font-size: 18px;
  width: 10px;
  height: 10px;
  border: 1px solid white;
  padding: 15px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}
.social-icons i:hover {
  color: rgb(0, 167, 139);
  border-color: rgb(0, 167, 139);
  transform: rotate(360deg) scale(1.1);
}

/* Hero Section Animation */
@keyframes sideInLeft {
  from{
    transform: translateX(-100%);
    opacity: 0;
  }
  to{
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes sideInRight {
  from{
    transform: translateX(100%);
    opacity: 0;
  }
  to{
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes topIn {
  from{
    transform: translateY(-100%);
    opacity: 0;
  }
  to{
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes bottomIn {
  from{
    transform: translateY(100%);
    opacity: 0;
  }
  to{
    transform: translateY(0%);
    opacity: 1;
  }
}

/* Appling Animation */
 header {
  animation: topIn 1.2s ease-out forwards;
  opacity: 0;
  animation-delay: 0.2s;
 }

 h3 {
  animation: sideInLeft 1s ease-out forwards;
  opacity: 0;
 }
 
 h1 {
  animation: sideInLeft 1s ease-out forwards;
  opacity: 0;
  animation-delay: 0.4s;
 }

 p {
  animation: sideInLeft 1s ease-out forwards;
  opacity: 0;
  animation-delay: 0.6s;
 }

 .big-cta-btn {
  animation: sideInLeft 1s ease-out forwards;
  opacity: 0;
  animation-delay: 0.8s;
 }

 .social-icons {
  animation: bottomIn 1s ease-out forwards;
  opacity: 0;
  animation-delay: 0.2s;
 }

 .right-section img {
  animation: sideInRight 1s ease-out forwards;
  opacity: 0;
  animation-delay: 0.2s;
 }

 .logo {
  font-size: 2em;
  color: #fff;
  user-select: none;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;
}

.navigation .btnLogin-popup:hover {
  background: #fff;
  color: #017b77;
}

.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform: scale(0);
  transition: transform 0.3s linear, height 0.2s linear;
}

.wrapper.active-popup {
  transform: scale(1);
}

.wrapper.active {
  height: 520px;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper .form-box.login {
  transition: transform 0.2s linear;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register {
  transition: transform 0.2s linear;
  transform: translateX(0);
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #017b77;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.form-box h2 {
  font-size: 2em;
  color: #017b77;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #017b77;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #017b77;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #017b77;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2rem;
  color: #017b77;
  line-height: 57px;
}

.remember-forgot {
  font-size: 0.9em;
  color: #017b77;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: #017b77;
  margin-right: 3px;
}
.remember-forgot a {
  color: #017b77;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: #017b77;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}

.login-register {
  font-size: 0.9em;
  color: #017b77;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: #017b77;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  cursor: none;           
}

.mouse{
  width: 50px;
  height: 50px;
  border-radius: 50%;;
  position: fixed;
  left: -200px;
  z-index: 1000;
  pointer-events: none;
}

